.left{
  opacity: 0;
  transform: translate(-50px);
}
.right{
  opacity: 0;
  transform: translate(50px);
}
.top{
  opacity: 0;
  transform: translate(0, -16px);
}
.bottom{
  opacity: 0;
  transform: translate(0,  16px);
}

.sliderPosition0{
  transition: all .3s ease-in-out;
}