.dark{
  --color: var(--white);
  --colorBackground: var(--blue);
  --colorContrast: var(--darkBlue);
}
.ligth{
  --color: var(--black);
  --colorBackground: var(--white);
  --colorContrast: var(--cleanYellow);
}

.footerContainer{
  
}