.fixedHeaderContainer{
  height: 60px;
  max-height: 60px;
  width: 100%;
}

.headerContainer{
  position: fixed;
  top: 0px;
  z-index: 1;

  height: 60px;
  width: 100%;
  padding: 10px 15px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;

  background-color: var(--colorNeutral1);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
}

.headerContainer *{
  color: var(--colorContrast);
  fill: var(--colorContrast);
}

.flowIconContainer{
  height: 40px;
  width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}