.listContainer{
  z-index: 2;

  position: fixed;
  top: 80px;
  left: 50%;

  display: flex;
  flex-flow: column-reverse nowrap;
  gap: 10px;

  list-style: none;

  transform: translate(-50%);
  transition: all .3s ease-in-out;
}