.sectionContainer{
  width: 100%;
  height: 100%;
  padding: 30px 10px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  text-align: center;
}