.linkTextContainer{
  display: inline-block;
  font: normal 600 1em var(--font);
  color: var(--colorContrast);

  transition: all .3s ease-in-out;
}

@media screen and (min-width: 769px) {
  .linkTextContainer:hover{
    transform: translate(0px, -3px);
  }
}
.linkTextContainer:active{
  transform: scale(.9);
  transition: all .07s ease-in-out;
}

.detach{
  color: var(--purple);
}

.id{
  color: var(--orange)
}